*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.clearfix::after{
    content:"";
    display:table;
    clear: both;
}
header{
    position:fixed;
    top:0;
    width: 100%;
    background-color: #fff;
    z-index: 500;
}





.in-block{
    display: inline-block;
}

.bold{
    font-weight: bolder;
}


.left-side{
   padding: 0.5%;
   margin-left:2%;
}

.right-side{
    padding: 0.5%;
    float:right;  
    margin-right:3%;
}



header nav ul li{
    display: inline-block;
    list-style: none;
    margin: 15px;
}

header nav ul li a{
    text-decoration: none;
    color: black;   
}

.button{
    background-color: rgb(51, 83, 224);
     color: white;
     padding:8px 15px;
     text-decoration: none;
}

/*MAIN SECTION*/

/*FIRST SECTION*/

.blue-container{
  
  
    background-color: rgba(155, 217, 253, 0.685);
}
.upper-box{
    width: 75%;
    margin:auto;
    padding-top:5%; 

}

h1{
    font-size: 4em;
    margin-bottom:3%;
    font-family:Arial, Helvetica, sans-serif;   
}
.pres-box p{
    margin:0 0 10% 0;
}

.pres-box{
    width:30%;
    display: inline-block;
   
}

.pres-box > div{
    margin:5% 0 0 0;
}

.fa-arrow-down{
    transform: scale(2.5);
    margin: 15% 0 20% 0;
}

.img-box{
   background-image: url(../img/jumbo.png);
   height:400px;
   width:650px;
   background-size: contain;
   background-repeat: no-repeat;
   float:right;
}

/*SECOND SECTION*/


.container{
    width: 65%;
    margin:auto;
    
   
}

.h2-margin{
    margin:15% 0 5% 0;
    
    font-size: 2rem;
}

.input span{
    padding:0.5%;
}

.subs{
    
    width:calc(100%/3 - 40px);
    border:1px solid lightgray;
    display:inline-block; 
    
     min-height: 1000px;
}

.float-l{
    float:left;
}

.margin{
    margin:0 55px 0 55px;
}

/* .float-right{
    float:right;
} */

.subs h4{
    text-align: center;
    padding:2%;
    border-bottom: 1px solid lightgray;
   
}
.subs-row{
    margin-top:30px;
}



.sub-desc h3{
    margin:10% 0 10% 0;
}

.sub-desc{
    width: 80%;
    margin:0 10% 0 10%;
} 

.line{
    width: 40px;
    
    border-bottom:1px solid lightgrey;
}

.subs-delux{
    margin-top:4%;
    border:1px solid lightgray;
    /*padding:0 5% 0 5%;    */
    
}

hr{
    color:lightgray;
    background-color: lightgray;
    height: 1px;
    border:0;
}
.subs-delux h4{
    text-align: center;
    padding:1% 0;
    /* border-bottom:1px solid lightgrey; */
}

.subs-desc-delux{
    
    margin:auto;
    padding:0 5% 0 5%;
} 

.float


.subs-delux h3{
    margin:3% 0 3% 0;
}

.time{
    color:rgb(134, 134, 134);
    margin: 4% 0 25% 0;
}

.arc-space{
    margin: 6% 0 6% 0;
}

.description{
    margin: 0 0 20% 0;
}

.option{
    margin:15% 0 10% 0;
}

.sub-desc ul li{
    
    list-style: none;
    margin: 15px;
}

.option a{
    
    color: rgb(51, 83, 224);   
}

.subs-delux div{
margin: 2% 0 2% 0;
}

.float{
    float:right;
}

.sub-desc ul li span{
    color: rgb(51, 83, 224);
}
 /* .margin-b{
    margin:4% 10% 0 0;
}  */

/*THIRD SECTION*/

.partner-img{
    background-image: url(../img/partner.png);
    width: 520px;
    height: 450px;
    background-size: contain;
    background-repeat: no-repeat;
    margin:15% 2% 0 0;
    display: inline-block;

}

.partner-desc{
    width: 35%;
    margin-top:25%;
}

.partner-desc p{
    margin:10% 0 10% 0;
}

#partner-button{
    background-color: #fff;
    color:black;
    border: 1px solid black;
}

/* FOURTH SECTION */

.column-op{
    width:calc((100% / 3) - 40px);
} 

.column-op img{
    width: 100%;
    /* height: 30px; */
}

.column-text{
    width: 100%;
}



.column-text p{
    margin:5% 0 30% 0 ;
}

/*FIFTH SECTION*/

.link-customer{
    margin:2% 0 2% 0;
     
}

.link-customer a{
   color: rgb(51, 83, 224);
}

/* SIXTH SECTION */

.team-row{
    /* width: 100%; */
    height: 40vh;
    
}

.team-column{
    width: 25%;
    height: 100%;
  
}

.team-desc-column{
width:50%;
height: 100%;
position:relative;
background-color: rgb(231, 231, 231);

}

.square{
    width: 50%;
    height: 50%; 
    position:relative;
   
}

.square img{
    /* transform: scale(0.4); */
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%) scale(0.3);
    filter:invert(100%);
}

.desc-column{
    width:90%;
    height: 100%;
    margin:auto;
   
  
}

.desc-column img{
    margin:3% 0;
    position: absolute;
    top:0;
    left:0;
    transform: translate(-20%,-20%) scale(0.3);
} 
.svg-row{
    width:100%;
    height: 5%;
}

.team-text{
    margin:15% 3%;
}

.team-text p{
    margin:5% 0;
}



/* .desc-column div{
    position: absolute;
    top:0;
    left:0;
    transform: translate(-20%,-20%) scale(0.3);
} */



.green{
    background-color: rgb(151, 229, 197);
}

.b-red{
    background-color: rgb(145, 30, 30);
}

.blue{
    background-color: rgb(44, 98, 168);
}

.red{
    background-color: rgb(236, 22, 22);
}

.d-red{
    background-color: rgb(189, 7, 7);
}

.l-blue{
    background-color: rgb(148, 197, 212);
}

.d-blue{
    background-color: rgb(45, 32, 161);
}

.yellow{
    background-color: rgb(241, 226, 6);
}

/* SEVENTH SECTION */

.db-column{
    
    width:40%;
    font-size: 2rem;
    color:rgb(150, 35, 35);
    
}

#free-botton{
    background-color: #fff;
    color:black;
    
}

.db-row{
    padding: 10% 0 10% 0;
}

/* EIGHTH SECTION */

#faq{
    font-size: 1.6rem;
}

.faq-row{
    padding:2% 0 2% 0;
    border-top: 1px solid lightgray;
    
    font-weight: bold;
}
#border-bottom{
    border-bottom: 1px solid lightgray;
}

.fa-angle-down{
    float:right;
    margin-right:5%;
}

/* FOOTER */
footer{
    background-color: rgb(0, 0, 0);
    color: white;
    padding:5% 0 0 15%;
    margin-top:10%;
}


footer nav ul li a{
    text-decoration: none;
      color: white;
}

footer nav ul li{
    
    list-style: none;
    margin: 15% 0 -10% 0;
}

.column-footer{
    margin-right:7%;
    display: inline-block;
}

.footer-line{
    width: 10%;
    
    border-top: 1px solid white;
    margin-top: 10%;
}

.footer-line div{
    padding:20% 0 20% 0;
    font-size: 0.8rem;
   
}

.fa-caret-up{
    font-size: 0.8rem;
     color: lightgray;
}
